PORT=4000
POSTGRES_USER=user
POSTGRES_PASSWORD=12345
POSTGRES_DB=postgres
POSTGRES_HOST = db
POSTGRES_PORT=5432
DATABASE_URL=postgresql://user:12345@db:5432/postgres?schema=public
DATABASE_URL_LOCALHOST=postgresql://user:12345@localhost:5432/postgres?schema=public

JWT_SECRET=access-secret
JWT_REFRESH_SECRET=refresh-secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

CRYPT_SALT=10

LOG_LEVEL = log